* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }

  @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

body{
    /* width: 100%; */
    /* min-height: 100vh; */
    width: 1440px;
    margin: auto;
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.card{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.container{

    width: 80%;
    /* padding: 10px;
    margin: 20px; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 25px;
}



.image{
    width: 80%;
}

.product{
   padding: 0 80px;
    /* margin: 0 80px; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

}

.classification{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: hsl(228, 12%, 48%);
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-bottom: 35px;
}


.name{
    font-family: 'Fraunces', serif;
    font-size: 3.8rem;
    margin-bottom: 40px;

    
}


.description{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 50px;
    line-height: 1.5;
    color: hsl(228, 12%, 48%);
}




.price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-bottom: 40px;
}

.sale{
    font-size: 3.5rem;
    font-family: 'Fraunces', serif;

    color: hsl(158, 36%, 37%);
}

.original{
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    margin: 5px 0 5px 25px;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);;

}

button{
    /* border: none; */
    border-radius: 15px;
    font-size: 1.7rem;
    font-weight: 500;
    padding: 30px 0;
    margin: 0;
    color: white;
    background-color: hsl(158, 36%, 37%);
    font-family: 'Montserrat', sans-serif;
}

/* 
.fa-light{
    color: black;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    overflow: visible;
} */

button i{
    color: white;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 10px;
    font-size: 1.5rem;
    overflow: visible;
}